<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makeathon.hinglish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Activities.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Activities.Reaction">
            <intent-filter>
                <action android:name="android.intent.action.REACITON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.Username">
            <intent-filter>
                <action android:name="android.intent.action.USERNAME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Activities.SinglePlayer_Username">
            <intent-filter>
                <action android:name="android.intent.action.ONE_USERNAME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.SinglePlayer_Game"
            android:label="Game On!">
            <intent-filter>
                <action android:name="android.intent.action.SINGLEPLAYER_GAME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Activities.PlayOn"
            android:label="Play On!">
            <intent-filter>
                <action android:name="android.intent.action.PLAYON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



    </application>

</manifest>
